nav{
  background-color: orangered;
  height: 50px;
}
.nav-link{
  color: white;
}

.navbar-collapse li{
  padding: 0 15px;
}
.b-d{
  display: flex;
  background-color: rgb(243, 241, 241);
  width: 100%;
  height: 420px;
}
.b1{
  width: 50%;
  height: 500px;
}
.b1 img{
  margin-left: 300px;
}
.b-d1{
  margin-top: 90px;
}
.b-d1 h3{
  font-size: 18px;
  font-family: 'Acme', sans-serif;
}
.b-d1 h1{
  color: orangered;
  font-family: 'Poppins', sans-serif;
}
.b-d1 p{
  font-size: 20px;
}
.b-d1 button{
  background-color: rgb(228, 65, 6);
  color: white;
  border: none;
  padding: 2px 5px;
  margin-bottom: 4px;
  font-weight: bold;
}
.p-2{
  align-items: center;
}
.mb-3{
  background-color: rgb(243, 241, 241);
  height: 300px;
  width: 100%;
}
.p1{
  height: 300px;
  width: 380px;
  background-color: rgb(233, 52, 12);
  color: white;
  text-align: center;
}
.p2{
  height: 300px;
  width: 380px;
  background-color: rgb(255, 94, 14);
  color: white;
  text-align: center;
}
.p3{
  height: 300px;
  width: 380px;
  background-color: rgb(242, 143, 28);
  color: white;
  text-align: center;
}
.ite{
  display: flex;
  margin-left: 250px;
  margin-bottom: 100px;
}
.bc{
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 50%;
}
.ite:hover{
  transition: all ease-in 1s;
}
#analysis:hover{
  cursor: pointer;
  animation: pulse;
  animation-duration: 2s;
}
#brand:hover{
  cursor: pointer;
  animation: pulse;
  animation-duration: 2s;
}
#design:hover{
  cursor: pointer;
  animation: pulse;
  animation-duration: 2s;
}